form {
    width: 100%;
}
.user-wrapper {
    background-color: rgba(0, 0, 0, .05);
    padding: 35px 40px;
    width: 100%;
    max-width: 450px;
    margin: 10% auto 0;
}
a,
a:hover,
a:focus {
    text-decoration: none;
    font-weight: 300;
}
h2 {
    background-color: transparent;
    font-weight: 900;
}
.text-white {
    color: #fff !important;
}
.logout {
    margin-top: 14px;
}
.btn-logout {
    display: inline !important;
    padding: 4px 8px !important;
}
.btn-logout:hover {
    background-color: #c9320c !important;
    border-color: #ac2925 !important;
}
input[type="submit"] {
    background-image: none;
}
.btn-info {
    color: #fff !important;
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}
.btn-info:hover {
    background-color: #31b0d5 !important;
    border-color: #269abc !important;
}
.radio > fieldset > legend {
    color: #333;
    border-bottom: none;
    font-size: 110%;
}
#flashMessage {
    background-image: none;
    background-color: #e82828;
    border: 0;
    font-weight: normal;
    font-size: 15px;
}
input[type="file"]#photo {
    position: absolute;
    z-index: -1;
    height: 0;
}
.cursor {
    cursor: pointer;
}
.preview-photo:hover {
    opacity: .9;
}
.photo label {
    background-color: #333;
}
.message-wrapper {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}
.card {
    box-shadow: 0 0 10px 0px #d4d4d4;
    -webkit-box-shadow: 0 0 10px 0px #d4d4d4;
    margin: 25px 0;
    padding: 25px;
    border-radius: 6px;
    display: block;
    font-size: 15px;;
    color: #555;
}
.delete-message:hover {
    text-decoration: underline;
}
.card:hover {
    box-shadow: 0 0 10px 0px #bbb9b9
}
.card.new-message {
    background-color: rgba(0, 128, 0, .07);
    box-shadow: 0 0 10px 0px #6f986f;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
}
.message-item .footer {
    /* display: flex;
    justify-content: space-between; */
    font-size: 12px;
    padding-top: 10px;
    border-top: 1px solid #efefef;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    color: #999;
}
.msg-actions a:hover {
    text-decoration: underline;
}
.msg-actions a {
    display: inline-block;
}
.mb-10 {
    margin-bottom: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.mt-10 {
    margin-top: 10px;
}
.user-photo {
    width: 80px;
    height: 80px;
}
.user-body {
    min-height: 80px;
    width: calc(100% - 80px);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    position: relative;
}
.background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.message-item .content,
.message-item .user-body,
.message-item.left .user-photo,
.message-item.left .msg-actions,
.message-item.right .date {
    float: left;
}
.message-item.right .user-photo,
.message-item.right .msg-actions,
.message-item.left .date {
    float: right;
}
.meta-type {
    color: #999;
    font-size: 12px;
    text-decoration: underline;
}

/* LOADING */
.loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .loading div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: rgb(65 121 169);
    animation: LoadingLang 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .loading div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .loading div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .loading div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes LoadingLang {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  